@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}


html {
    background-color: white;
    font-family: 'Roboto Mono', monospace;
    
}

.headnav, .footnav, button {
    
    text-align: center;
    margin: 2% 8%;
    font-size: 110%;
    border-style: none;
    padding: .8% 2%;  
    border-radius: 15px; 
    color: white;
    font-weight: bold;
    outline: none;
   
    
}

#headplan, #footplan {
    background-color: #FF764E;
    
}

#headlearn, #footlearn {
    background-color: #5ED3EB;
}

#headget, #footget {
    background-color: #FFCD69;
}



#headimg {
    margin-left: 15%;
    border-radius: 50%;
    width: 20%;
    height: auto;
          
}

h1 {
    position: relative;
    font-family: 'Chelsea Market', cursive;
    font-size: 365%;
    display: inline-block;
    margin-left: 4%;
    top: -199px;
    
}

h2 {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    position: relative;
    margin-left: 23%;
    font-size: 130%;
    top: -200px;
      
}

.desc {
    text-align: center;
    font-size: 130%;
    background-color: #DDB9A3;
    color: white;
    margin-top: -5%;
    margin-left: 11%;
    margin-right: 11%;
    padding: 1%;
    
}

#fire {
    display: block;
    margin: auto;
    width: 10%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

#firedesc {
    text-align: center;
   }

#rv {
    display: block;
    margin: auto;
    width: 10%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

#rvdesc {
    text-align: center;
        
}

span {
    font-weight: bold;
}

#footimg {
    text-align: center;
    height:380px;
    width: auto;
    overflow: hidden;
    margin-left: .5%;
    margin-right: .5%;
    
}

#footimg img {
    width: 100%;
    margin-top: 5%;
}

.footer {
    background-color: #F9E7DC;
    padding: 1%;
    margin-left: .5%;
    margin-right: .5%;
   
    
}
    

